.repositoryContainer {
    display: grid;
    margin: 0 auto;
    max-width: 1500px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 100px;
}

.repositoryBox {
    /*
    border: 1px solid #eae3cd;
    box-shadow: 10px 10px #e6e4e4;
    color: #3b3b3b;*/
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 20px;
    color: #3b3b3b;
    background-color: #fff1d1;
    box-shadow: 10px 10px #ffecc1;
    cursor: pointer;
}

.repositoryBox * {
    margin: 4px 0;
}

.name {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}