.repositoryBox {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 20px;
    color: #3b3b3b;
    background-color: #fffbfb;
    box-shadow: 8px 8px 0px 0px #d2d2d27a;
}

.repositoryBox * {
    margin: 4px 0;
}

.repoName {
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
}

.owner {
    display: flex;
    align-items: flex-end;
}
.userIcon {
    padding-right: 6px;
}

.stars {
    display: flex;
    align-items: flex-end;
}
.starIcon {
    padding-right: 6px;
    color: #ffa500;
}
