.wrapperInfo {
	margin: 8px 0;
}

.wrapperInfo:first-child {
	text-align: center;
}

.label {
    font-size: 18px;
    color: #3b3b3b;
}

.info {
    font-weight: bold;
    font-size: 18px;
    color: #3b3b3b;
}